on:
  push:
  pull_request:

name: Test

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
      fail-fast: false
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up dotnet
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: "8.0.x"

      - name: Run tests
        run: dotnet test src/Yilduz.Tests --logger "GitHubActions;summary-include-passed=false"

